body {
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 0px;
  padding-bottom: 10px;
  background-color: #f5f5f5;
}


.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

img{
    width: 25px;
    height: 25px;
    border-radius: 50%;


}

.tag{

    width: 60%;
    background-color: lightblue;
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
}

.cabecera{
    width: 100%;
    background-color: blue;
    color: white;
}

.titulo{
    width: 100%;
    background-color: beige;
    color: blue;
}

.texto{
    width: 100%;
    background-color: beige;
    color: black;
}
#fotoperfil{

  width:80px;
  height:80px;
}
.login{

  max-width:50%;
  text-align:center;
  display:flex;
  margin: 0 auto;

}
.fotologin{

  width:80px;
  height:80px;
  border-radius:5px;

}